.header-content-container {
    margin: 0 auto;
    width: 50%;
    color: white;
    position: relative;
}
.header-content-bgimg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 85px;
    left: 300px;
    opacity: 0.5;
    background-image: url("./img_banner.png");
}

.header-content-title-container {
    font-size: 25px;
    font-weight: bolder;
    padding-top: 80px;
}

.header-content-title-big-container {
    font-size: 40px;
    margin-right: 15px;
}

.header-content-body-container {
    font-size: 18px;
    margin-top: 20px;
}

.header-content-create-container{
    margin: 20px 0;
    padding: 10px 0;
    width: 100px;
    height: 30px;
    background-color: hsl(37, 100%, 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.header-content-create-button {
    display: flex;
    font-size: 16px;
    color: white;
}

.header-content-link-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    >span {
        // display: flex;
        margin: 0 10px;
    }
    :first-child {
        margin-left: 0;
    }
}