.home-container {
    margin: 0 auto;
    width: 100%;
}

.home-header-container{
    height: 500px;
    background: linear-gradient(to right, rgba(159,55,75), rgba(77,97,224));
    overflow: hidden;
}

.home-advantage-container {
    height: 500px;
    background-color: white;
}

.home-ability-container{
    height: 500px;
    background-color: plum;
}

.home-stats-container{
    height: 500px;
    background-color: yellowgreen;
}

.home-example-container{
    height: 500px;
    background-color: peru;
}

.home-app-container{
    height: 500px;
    background-color: rebeccapurple;
}

.home-contact-container{
    height: 500px;
    background-color: seagreen;
}

  

